{% extends 'main/base.html' %}

{% block title %}Редагування профілю{% endblock %}

{% block content %}
<div class="profile-edit-container">
    <h2>Редагування профілю</h2>
    <form method="post">
        {% csrf_token %}
        {{ user_form.as_p }}
        {{ profile_form.as_p }}
        <button type="submit" class="btn-submit">Зберегти зміни</button>
    </form>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
</div>
{% endblock %}
